/* Sections*/

.about {
    position: relative;
    height: fit-content;
}

.aboutMe {
    margin-bottom: 12rem;
}

.sectionContainer {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.sectionContainer2 {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.sectionPicContainer {
    display: flex;
    height: 300px;
    width: 300px;
    margin: auto 0;
}

.sectionText{
    align-self: center;
    text-align: center;
}

.sectionText p {
    font-weight: 600;
}

.sectionTextP1 {
    text-align: center;
}

.sectionTextP2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: -2rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
    padding: 5px 5px 0 0;
}

/* ABOUT SECTION */

.about {
    position: relative;
}

.aboutContainers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.aboutDetailsContainer {
    justify-content: center;
    flex-direction: column;
}

.aboutContainers,
.aboutDetailsContainer {
    display: flex;
}

.aboutPic {
    border-radius: 2rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.detailsContainer{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53);
    border-color: rgb(163, 163, 163);
    text-align: center;
}

.sectionContainer {
    gap: 4rem;
    height: 80%;
}

/* Media Queries */

/* Mobile (0px to 599px) */
@media screen and (max-width: 599px) {
    .about {
        margin: -2rem 0 8rem;
    }
    .aboutMe {
        margin-bottom: 8rem;
    }    
    div.aboutContainers {
      flex-wrap: wrap;
      margin-top: 0;
    }
    div.sectionContainer {
        display: block;
      }

    div.sectionPicContainer {
    width: auto;
    height: 46vw;
    justify-content: center;
    margin: 0 auto 2rem;
    }
    h1.title {
    font-size: 2rem;
    margin-bottom: 0;
    }
    div.textContainer {
        text-align: center;
        margin: 0 2rem;
      }
    img.arrow{
    display: none;
    }
  }
  
  /* Small Tablet (600px to 899px) */
  @media screen and (min-width: 600px) and (max-width: 899px) {
    .about {
        margin: -6rem 0 18rem;
    }
    .sectionContainer {
        height: fit-content;
        display: block;
    }
    .sectionContainer2 {
        height: fit-content;
        display: block;
    }
    div.sectionPicContainer {
      margin: 0 32% 2rem;
    }
    h1.title {
        margin-bottom: 0;
      }
    div.textContainer {
    text-align: justify;
    margin: 0 2rem;
    }
    img.arrow{
        display: none;
      }
  }
  
  /* Large Tablet (900px to 1199px) */
  @media screen and (min-width: 900px) and (max-width: 1199px) {
    .about {
        margin: -6rem 2rem 20rem;
    }

    div.aboutContainers {
      flex-wrap: wrap;
    }
  
    div.projectsDetailsContainer {
      margin: 2rem 8rem 0rem;
    }
  
    section {
      height: fit-content;
    }

    h1.title {
        margin-bottom: 0;
      }

    div.textContainer {
    text-align: justify;
    margin: 0 2rem;
    }
    img.arrow{
        display: none;
      }
  }
  