/* General Section Styling */
.sectionTextP1 {
  text-align: center;
  font-weight: 600;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.sectionText{
  align-self: center;
  text-align: center;
}

.sectionTextP2 {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 4rem auto 0; /* Center the text and remove large side margins */
  padding: 0 2rem; /* Add some padding for better spacing */
  max-width: 80%; /* Limit the width to keep it balanced */
  text-align: center;
}

/* Brands Container */
.brands {
  position: relative;
  margin: 4rem auto 5rem; /* Centering the section */
  padding: 0 2rem; /* Add some side padding */
  height: fit-content;
}

.brandsContainer {
  display: flex;
  justify-content: center;
  margin: 0 24rem; /* Remove large side margins */
  gap: 4rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

/* Individual Brand Styling */
.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.brand:hover {
  transform: scale(1.1);
}

.brandLogo {
  width: 100px;
  height: auto;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
  padding: 5px 5px 0 0;
}

/* Arrow */
.arrow {
  position: absolute;
  right: 6rem;
  bottom: 2.5rem;
}

/* Media Queries */

/* Mobile (0px to 599px) */
@media screen and (max-width: 599px) {
  .brands {
    margin: 0 0 5rem;
    padding: 0 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .brandsContainer {
    gap: 2rem;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .brandLogo {
    width: 80px;
  }

  .sectionTextP2 {
    font-size: 1rem;
    margin: 2rem auto 0;
    padding: 0 1rem;
  }

  img.arrow {
    display: none;
  }
}

/* Small Tablet (600px to 899px) */
@media screen and (min-width: 600px) and (max-width: 899px) {
  .brands {
    margin: 0 0 5rem;
    padding: 0 2rem;
  }

  .brandsContainer {
    gap: 3rem;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .sectionTextP2 {
    font-size: 1.1rem;
    margin: 3rem auto 0;
    padding: 0 2rem;
  }

  img.arrow {
    display: none;
  }
}

/* Large Tablet (900px to 1199px) */
@media screen and (min-width: 900px) and (max-width: 1199px) {
  .brands {
    margin: 0 0 18rem;
    padding: 0 4rem;
  }

  .brandsContainer {
    gap: 4rem;
    margin: 0 auto;
    padding: 0 4rem;
  }

  .sectionTextP2 {
    font-size: 1.2rem;
    margin: 4rem auto 0;
    padding: 0 4rem;
  }

  img.arrow {
    display: none;
  }
}
