section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.detailsContainer{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}

/* Sections*/

.sectionContainer {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.sectionPicContainer {
    display: flex;
    height: 300px;
    width: 300px;
    margin: auto 0;
}

.sectionText{
    align-self: center;
    text-align: center;
}

.sectionText p {
    font-weight: 600;
}

.sectionTextP1 {
    text-align: center;
}

.sectionTextP2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
    padding: 5px 5px 0 0;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}


/* Contact */

.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    position: relative;
}

.contactInfoUpperContainer {
    display: flex;
    justify-content: space-evenly;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    margin: 2rem 3rem;
    padding: 0.5rem;
}

.contactInfoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contactInfoContainer p {
    font-size: larger;
}

.contactIcon {
    cursor: default;
}

.emailIcon {
    height: 2.5rem;
}


/* Media Queries */

/* Large Tablet (900px to 1199px) */
@media screen and (max-width: 1200px) {
    section.contact {
      height: 40vh;
    }
  
    div.contactInfoUpperContainer {
      margin: 2rem 1rem;
    }
  
    img.arrow {
      display: none;
    }
  
    section, div.sectionContainer {
      height: fit-content;
    }
  
    section {
      margin: 0.5%;
    }
  }
  
  /* Small Tablet (600px to 899px) */
  @media screen and (max-width: 900px) {
    div.sectionPicContainer {
      margin: 0 32% 2rem;
    }
  }
  
  /* Mobile (0px to 599px) */
  @media screen and (max-width: 600px) {
    section.contact, footer {
      height: 40vh;
    }
  
    div.contactInfoUpperContainer {
      flex-wrap: wrap;
    }
  
    div.contactInfoContainer {
      margin: 0;
    }
  
    div.contactInfoContainer p {
      font-size: 1rem;
    }
  
    p.sectionTextP2 {
      font-size: 1.25rem;
    }
  
    h1.title {
      font-size: 2rem;
    }
  
    img.arrow {
      display: none;
    }
  }  
  