/* Main container for the Engagement section */
.audience {
    position: relative;
    height: fit-content;
    margin: 0 1rem 8rem 1rem; /* Spacing on left and right, and from the bottom */
  }
  
  /* Container for the engagement details */
  .detailsContainer {
    padding: 1.5rem;
    background: white;
    border-radius: 2rem;
    border: rgb(163, 163, 163) 0.1rem solid;
    text-align: center;
    width: auto;
  }
  
  /* Title styles */
  .title {
    font-size: 2rem;
    text-align: center;
  }
  
  /* Subtitle for engagement section */
  .experienceSubtitle {
    color: rgb(85, 85, 85);
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  
  /* Container for the articles (comments/questions) */
  .articleContainer2 {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: space-between;
  }
  
  /* Styling for the individual articles (comments/questions) */
  article {
    display: flex;
    justify-content: space-around;
    width: 10rem;
    gap: 0.5rem;
  }
  
  /* Comment and question images */
.comment {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

/* .comment {
    cursor: pointer;
    height: 4rem;
    padding: 5px 5px 0 0;
    width: auto;
    margin: 0 auto;
  } */
  
  .comment3 {
    height: 5rem; /* Specific style for comment3 */
  }
  
  .question1 {
    height: 2.5rem; /* Specific style for question1 */
  }
  
  /* Text alignment for section intro text */
  .sectionTextP1 {
    text-align: center;
    font-weight: 600;
  }
  