section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

/* Hero Section*/

 .hero {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.sectionPicContainer {
    display: flex;
    height: 300px;
    width: 300px;
    margin: auto 0;
}

.sectionText{
    align-self: center;
    text-align: center;
}

.sectionText p {
    font-weight: 600;
}

.sectionTextP1 {
    text-align: center;
}

.sectionTextP2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    text-align: center;
}

.profilePic {
    border-radius: 2rem;
}

.socialContainer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
    padding: 5px 5px 0 0;
}

/* BUTTONS */

.btnContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btnColor1, .btnColor2 {
    border: rgb(53, 53, 53), 0.1rem solid;
}

.btnColor1:hover, .btnColor2:hover {
    cursor: pointer;
}

.btnColor1, .btnColor2:hover {
    background: rgb(53, 53, 53);
    color: white;
}

.btnColor1:hover {
    background: rgb(0, 0, 0);
}

.btnColor2 {
    background: none;
}

.btnColor2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btnContainer {
    gap: 1rem;
}


/* Media Queries */

/* Mobile (0px to 599px) */
@media screen and (max-width: 599px) {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        height: fit-content;
        margin: 0 2rem 8rem;
    }
  
    .sectionPicContainer {
      width: auto;
      height: 46vw;
      margin: 0 auto 2rem;
    }

    .sectionPicContainer img {
      width: auto;
      height: 46vw;
    }
  
    .sectionTextP2 {
      font-size: 1.25rem;
    }
  
    .title {
      font-size: 2rem;
    }
  }
  
  /* Small Tablet (600px to 899px) */
  @media screen and (min-width: 600px) and (max-width: 899px) {
    .hero{
        margin-top: 4rem;
    }

    .sectionPicContainer {
        margin: 0 2rem 2rem;
      }
      .sectionText{
          align-self: normal;
          text-align: center;
          margin-right: 2rem;
      }
  }
  
  /* Large Tablet (900px to 1199px) */
  @media screen and (min-width: 900px) and (max-width: 1200px) {
    .hero{
        margin: 2rem 0 18rem;
        height: fit-content;
    }

    .sectionPicContainer {
      margin: 0 2rem 2rem;
    }
    .sectionText{
        align-self: normal;
        text-align: center;
        margin-right: 2rem;
    }
  }