/* ============= Mobile Devices: max-width 600px ============= */

@media screen and (max-width: 600px) {
    /* General/Duplicate Elements */
    .arrow {
      display: none;
    }
    .textContainer {
      text-align: justify;
      margin: 0 2rem;
    }
    img.arrow {
      display: none;
    }
  
    /* Nav Component Styles */
    .desktop-nav {
      display: none;
    }
    .hamburger-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }
    .hamburger-menu {
      margin-left: auto;
    }
    .menu-links {
      width: 100%;
      text-align: center;
    }
    .menu-links.open {
      max-height: 250px;
    }
    .menu-links a {
      font-size: 1rem;
    }
    h1.logo {
      font-size: 1.5rem;
    }
  
    /* Hero Section Specific Styles */
    section.profile {
      height: 83vh;
      margin-bottom: 0;
    }
    div.sectionPicContainer {
      width: auto;
      height: 46vw;
      justify-content: center;
    }
    p.sectionTextP2 {
      font-size: 1.25rem;
    }
    h1.title {
      font-size: 2rem;
    }
  
    /* About Section Specific Styles */
    section.about {
      height: fit-content;
      padding: 2rem 1rem;
    }
    div.sectionContainer {
      flex-direction: column;
      gap: 2rem;
    }
    div.sectionPicContainer {
      width: 80%;
      height: auto;
      margin: 0 auto;
    }
    div.aboutDetailsContainer {
      align-items: center;
    }
    div.aboutContainers {
      flex-direction: column;
      gap: 1rem;
      margin: 1rem 0;
    }
    div.detailsContainer {
      padding: 1rem;
    }
  
    /* Experience Section Specific Styles */
    section.experience {
      padding: 2rem 1rem;
      height: fit-content;
    }
    div.experienceDetailsContainer {
      align-items: center;
    }
    div.experienceContainer {
      flex-direction: column;
      gap: 2rem;
    }
    div.articleContainer {
      gap: 1.5rem;
      flex-direction: column;
      align-items: center;
    }
    article {
      width: 100%;
      justify-content: space-between;
      text-align: center;
    }
  
    /* Projects Section Specific Styles */
    section.projects {
      padding: 2rem 1rem;
      height: fit-content;
    }
    div.projectsDetailsContainer {
      align-items: center;
    }
    div.projectsContainer {
      flex-direction: column;
      gap: 2rem;
    }
    div.projectContainer {
      flex-direction: column;
      gap: 2rem;
    }
    .projectImg {
      width: 100%;
      height: auto;
    }
  
    /* Contact Section Specific Styles */
    section.contact,
    footer {
      height: 40vh;
    }
    section.contact {
      padding: 2rem 3rem;
    }
    div.contactInfoUpperContainer {
      flex-direction: column;
      margin: 1rem 0;
      gap: 1rem;
      padding: 0.5rem;
    }
    div.contactInfoContainer {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
    p.contactInfoContainer {
      font-size: 1rem;
    }
  
    /* Footer Specific Styles */
    footer {
      height: fit-content;
      padding: 2rem 1rem;
      text-align: center;
      margin-bottom: 2rem;
    }
    nav {
      flex-direction: column;
    }
    .nav-links {
      flex-direction: column;
      text-align: center;
      gap: 0.5rem;
    }
    footer p {
      font-size: 1rem;
    }
  }
  
  /* ============= Small Tablets: max-width 900px ============= */
  
  @media screen and (max-width: 900px) {
    /* General/Duplicate Elements */
    .arrow {
      right: -2rem;
      bottom: 2rem;
    }
    .textContainer {
      text-align: justify;
      margin: 0 2rem;
    }
    img.arrow {
      display: none;
    }
  
    /* Nav Component Styles */
    .desktop-nav {
      display: none;
    }
    .hamburger-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }
    .hamburger-menu {
      margin-left: auto;
    }
    .menu-links {
      width: 100%;
      text-align: center;
    }
    .menu-links.open {
      max-height: 300px;
    }
    .menu-links a {
      font-size: 1.2rem;
    }
  
    /* Hero Section Specific Styles */
    section.profile,
    div.sectionContainer {
      display: block;
    }
    section,
    div.sectionContainer {
      height: fit-content;
    }
    section {
      margin: 0.5%;
    }
    div.sectionPicContainer {
      width: auto;
      height: 275px;
      margin: 0 auto 2rem;
    }
  
    /* About Section Specific Styles */
    section.about {
      padding: 2rem 4rem;
      height: fit-content;
    }
    div.sectionContainer {
      gap: 3rem;
      flex-direction: column;
    }
    div.aboutContainers {
      flex-direction: column;
      gap: 1.5rem;
    }
    div.detailsContainer {
      padding: 1rem;
    }
  
    /* Experience Section Specific Styles */
    section.experience {
      padding: 2rem 4rem;
    }
    div.experienceContainer {
      flex-direction: column;
      gap: 2rem;
    }
    div.articleContainer {
      flex-direction: column;
      gap: 2rem;
      align-items: center;
    }
    article {
      width: 100%;
    }
  
    /* Projects Section Specific Styles */
    section.projects {
      padding: 2rem 4rem;
    }
    div.projectsContainer {
      flex-direction: column;
      gap: 2rem;
    }
    div.projectContainer {
      flex-direction: column;
      gap: 2rem;
    }
    .projectImg {
      width: 100%;
      height: auto;
    }
  
    /* Contact Section Specific Styles */
    section.contact {
      padding: 2rem 3rem;
    }
    div.contactInfoUpperContainer {
      flex-direction: column;
      margin: 1rem 0;
      gap: 1rem;
    }
    div.contactInfoContainer {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  
    /* Footer Specific Styles */
    footer {
      padding: 3rem 2rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 1.5rem;
    }
  }
  
  /* ============= Large Tablets and iPad Pro: max-width 1200px ============= */
  
  @media screen and (max-width: 1200px) {
    /* General/Duplicate Elements */
    .arrow {
      right: -3rem;
      bottom: 2.5rem;
    }
    .textContainer {
      text-align: justify;
      margin: 0 3rem;
    }
    img.arrow {
      display: none;
    }
  
    /* Nav Component Styles */
    .desktop-nav {
      display: none;
    }
    .hamburger-nav {
      display: flex;
    }
  
    /* Hero Section Specific Styles */
    section.profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    div.sectionPicContainer {
      width: auto;
      height: 300px;
      margin: 0 auto 2rem;
    }
  
    /* About Section Specific Styles */
    section.about {
      padding: 3rem 6rem;
    }
    div.sectionContainer {
      gap: 4rem;
    }
    div.aboutContainers {
      flex-direction: row;
      justify-content: space-between;
    }
    div.detailsContainer {
      padding: 1.5rem;
    }
  
    /* Experience Section Specific Styles */
    section.experience {
      padding: 3rem 6rem;
      margin: 2rem 1rem 15rem;
    }
    div.experienceContainer {
      flex-direction: row;
      gap: 3rem;
    }
    div.articleContainer {
      flex-direction: row;
      gap: 2rem;
    }
    article {
      width: auto;
      justify-content: space-around;
    }
  
    /* Projects Section Specific Styles */
    section.projects {
      padding: 3rem 6rem;
    }
    div.projectsContainer {
      flex-direction: row;
      gap: 3rem;
    }
    div.projectContainer {
      flex-direction: column;
      gap: 1.5rem;
    }
    .projectImg {
      width: 90%;
      height: auto;
    }
    div.projectsDetailsContainer {
      margin: 2rem 10rem 0rem;
    }
  
    /* Contact Section Specific Styles */
    section.contact {
      padding: 4rem 6rem;
    }
    div.contactInfoUpperContainer {
      gap: 2rem;
      margin: 2rem 3rem;
      padding: 1rem;
    }
    div.contactInfoContainer {
      gap: 1.5rem;
    }
  
    /* Footer Specific Styles */
    footer {
      padding: 4rem 6rem;
    }
    .nav-links {
      flex-direction: row;
      gap: 2rem;
    }
  }
  
  /* ============= Small Desktop Devices: max-width 1400px ============= */
  
  @media screen and (max-width: 1400px) {
    /* General/Duplicate Elements */
    .arrow {
      right: -3rem;
      bottom: 2.5rem;
    }
    .textContainer {
      text-align: justify;
      margin: 0 4rem;
    }
    img.arrow {
      display: none;
    }
  
    /* Nav Component Styles */
    .desktop-nav {
      display: flex;
    }
    .hamburger-nav {
      display: none;
    }
  
    /* Hero Section Specific Styles */
    section.profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    div.sectionPicContainer {
      width: auto;
      height: 300px;
      margin: 0 auto 2rem;
    }
  
    /* About Section Specific Styles */
    section.about {
      padding: 4rem 8rem;
    }
    div.sectionContainer {
      gap: 5rem;
    }
    div.aboutContainers {
      flex-direction: row;
      justify-content: space-between;
    }
    div.detailsContainer {
      padding: 1.5rem;
    }
  
    /* Experience Section Specific Styles */
    section.experience {
      padding: 4rem 8rem;
    }
    div.experienceContainer {
      flex-direction: row;
      gap: 4rem;
    }
    div.articleContainer {
      gap: 3rem;
    }
    article {
      width: auto;
      justify-content: space-around;
    }
  
    /* Projects Section Specific Styles */
    section.projects {
      padding: 4rem 8rem;
    }
    div.projectsContainer {
      flex-direction: row;
      gap: 4rem;
    }
    div.projectContainer {
      flex-direction: column;
      gap: 2rem;
    }
    .projectImg {
      width: 90%;
      height: auto;
    }
  
    /* Contact Section Specific Styles */
    section.contact {
      padding: 4rem 8rem;
    }
    div.contactInfoUpperContainer {
      gap: 2rem;
      margin: 2rem 4rem;
      padding: 1rem;
    }
  
    /* Footer Specific Styles */
    footer {
      padding: 4rem 8rem;
    }
    .nav-links {
      flex-direction: row;
      gap: 2.5rem;
    }
  }