/* Base styles for the iframe */
.responsiveIframe {
  width: 320px; /* Default width */
  transition: width 0.3s ease;
}

/* Mobile (0px to 599px) */
@media screen and (max-width: 599px) {
  .responsiveIframe {
    width: 300px; /* Width for mobile screens */
  }
}

/* Styling for the carousel link */
.carouselLink {
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  background-color: #f0f0f0;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}

.carouselLink:hover {
  background-color: #ddd;
}

/* General Section Styling */
.sectionTextP1 {
  text-align: center;
  font-weight: 600;
}

.sectionText {
  align-self: center;
  text-align: center;
}

.sectionTextP2 {
  font-weight: 600;
  font-size: 1.2rem;
  margin: 2rem auto 0;
  padding: 0 2rem;
  max-width: 80%;
  text-align: center;
}

.textContainer {
  flex: 1;
  padding: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* Projects Container */
.projects {
  position: relative;
  padding: 2rem 10rem;
  text-align: center;
  height: fit-content;
  margin-bottom: 2rem;
}

.servicesContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.serviceCard {
  display: flex;
  flex-direction: column;
  background: rgb(250, 250, 250);
  padding: 1rem;
  border-radius: 2rem;
  border: rgb(163, 163, 163) 0.1rem solid;
  transition: transform 0.3s ease;
  text-align: left;
}

.serviceCard:hover {
  transform: translateY(-10px);
}

.evenLayout {
  flex-direction: row;
}

.oddLayout {
  flex-direction: row-reverse;
}

.tiktokContainer {
  margin: 1rem;
}

.serviceTitle {
  font-size: 1.5rem;
  color: black;
  margin-bottom: 0.75rem;
}

.serviceDescription {
  font-size: 1rem;
  color: rgb(85, 85, 85);
  margin-bottom: 1rem;
}

.toggleButton {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.toggleButton:hover {
  background-color: #555;
}

/* Media Queries */

/* Mobile (0px to 599px) */
@media screen and (max-width: 599px) {
  .projects {
    padding: 1rem 2rem;
  }
  .servicesContainer {
    gap: 1rem;
  }
  .serviceCard {
    flex-direction: column;
  }
  .title {
    font-size: 2rem;
  }
  .sectionTextP2 {
    font-size: 1rem;
    margin: 2rem auto 0;
    padding: 0 1rem;
  }
}

/* Small Tablet (600px to 899px) */
@media screen and (min-width: 600px) and (max-width: 899px) {
  .projects {
    padding: 1rem 4rem;
  }
  .serviceCard {
    flex-direction: column;
  }
  .sectionTextP2 {
    font-size: 1.1rem;
    margin: 3rem auto 0;
    padding: 0 2rem;
  }
}

/* Large Tablet (900px to 1199px) */
@media screen and (min-width: 900px) and (max-width: 1199px) {
  .projects {
    padding: 2rem 8rem;
  }
  .sectionTextP2 {
    font-size: 1.2rem;
    margin: 4rem auto 0;
    padding: 0 4rem;
  }
}
